.about {
  background-color: rgba(77, 74, 74, 0.932);
  color: #fff;
  /* margin-bottom: -3.5vw; */
  /* height: 35vw; */
}

.about h1 {
  padding-top: 3.5vw;
  text-align: center;
  text-transform: uppercase;
  font-size: 4.8vw;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.text {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: -2.3vw 14vw -3vw 14vw;
}

.text p {
  padding-bottom: 4vw;
  font-size: 1.1vw;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding-right: 2vw;
}

.about h3 {
  font-family: cursive;
  padding-bottom: 3.6vw;
  text-align: center;
  font-size: 1.5vw;
}
