@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

html {
  font-family: "Noto Sans JP", sans-serif;
  /* font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; */
}

body {
  margin: 0;
  background-color: hsl(49, 80%, 96%);
}

/* .menu {
  margin-top: clamp(12rem, 14vw, 28rem);
}

@media screen and (max-width: 400px) {
  .menu {
    margin-top: 20rem;
  }
}

@media screen and (max-width: 298px) {
  .menu {
    margin-top: 22rem;
  }
} */

.section-bg {
  background-image: url("./assets/bg-hamburg.jpg");
  margin-bottom: -1.5vw;
}
